<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hongjunjin.architecturehunt" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/build_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--<activity-->
            <!--android:name=".locationActivity"-->
            <!--android:label="@string/app_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".Flickr_login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="my-activity"></data>
            </intent-filter>
        </activity>
        <activity android:name=".locationActivity"/>

        <service android:name=".sendMessage"/>
        <service
            android:name=".receiveMessage" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <activity android:name=".cameraActivity"/>
        <service android:name=".addFavorite"/>
        <activity android:name=".postUpload"/>


        <service android:name=".sendMessage2"/>
        <service android:name=".sendMessage_fin"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkKs2LfM0EQv9a17lL55aOnwNm5ddRhXE" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


</manifest>
